body, h1, p {
    background-color: black;
    color:white;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
canvas {
    border: 1px solid grey;
}
#contenedor {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: first baseline;
}

input {
    width: 40px;
}

#con_flechas {
     /* Evita la selección de texto */
    -moz-user-select: none; /* Para Firefox */
    -webkit-user-select: none; /* Para navegadores WebKit como Chrome y Safari */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
    user-select: none;
}
#limpiar {
    margin-top: 10px; /* Espacio entre el canvas y el botón */
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 480px) {
    #contenedor {
        flex-direction: column; /* Cambiamos la dirección a columna */
        align-items: center; /* Centramos los elementos en el eje vertical */
    }
}